@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #0C8CE9;
}

body {  
  height: 100%;
  font-size: 1rem;
  background-color: #202024;
  -webkit-font-smoothing: antialiased;
  color: #E1E1E6;
}

body, input, textarea, button {
   font: 400 1rem "Kode Mono", monospace;
}